ButtonPractice/ButtonPractice.xcodeproj/project.xcworkspace/xcuserdata/ctailor.xcuserdatad/UserInterfaceState.xcuserstate
ButtonPractice/ButtonPractice.xcodeproj/xcuserdata/ctailor.xcuserdatad/xcschemes/xcschememanagement.plist
SalesCalculator/SalesCalculator.xcodeproj/project.xcworkspace/xcuserdata/ctailor.xcuserdatad/UserInterfaceState.xcuserstate
SalesCalculator/SalesCalculator.xcodeproj/xcuserdata/ctailor.xcuserdatad/xcschemes/xcschememanagement.plist
